.scene {
  display: none; /* Hide all scenes by default */
}

.active {
  display: block; /* Show active scene */
}

.border {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(92, 19, 33);
  background-color: rgb(228, 197, 183);
}

.border1 {
  text-transform: uppercase;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 800px;
  font-family: "Lexend", sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 7px;
  color: rgb(92, 19, 33);
  padding: 10px 20px;
}

.border2 {
  width: 400px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  padding: 10px 20px;
  letter-spacing: 7px;
}

#bedScene {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}

#bedScene.active {
  display: block;
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5); /* semi-transparent dark background */
  z-index: 1000;
}

#popUpImage {
  display: block;
  margin: 100px auto;
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

.button {
  border: none;
  background-color: #e1a4a4;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button1:hover {
  background-color: #b76f6f;
  color: rgb(82, 37, 37);
  font-size: 25px;
}

.box {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px;
  margin-top: 50px;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

.boxcenter {
  height: 90%;
}

.info1 {
  margin-top: 50px;
}

html, body{
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

p{
  margin-right: 5px;
  margin-left: 5px
}

.dialogueBox {
  display:none;
  position: fixed;
  z-index: 1000;
}

.dialogueBG {

  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dialogueContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px 20px 30px;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.characterName {
  display: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 33%; 
  position: relative;
  z-index: 3000;
  margin-left: 10%;
}

.dialogueText{
  display: none;
  color: white;
  font-size: 25px;
  margin-top: 3%; 
  line-height: 1.5;
  position: relative; /* Remove absolute positioning */
  z-index: 3000;
  margin-left: 10%;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button2:hover {
  background-color: #b76f6f;
  color: rgb(82, 37, 37);
  font-size: 25px;
}
.button3:hover {
  background-color: #b76f6f;
  color: rgb(82, 37, 37);
  font-size: 25px;
}
#insightBox{
  display:none; 
  margin-top:20px; 
  border:1px solid #ccc; 
  padding:10px;
}